@media screen and (max-width: 768px) {
  .colRev {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .colH {
    height: 200px;
  }
}

.bg-1 {
  background-color: #5b7065;
}

.bg-2 {
  background-color: #c9d1c8;
}

.bg-3 {
  background-color: #04202c;
}

.colD1 {
  height: 700px;
}

.colD2 {
  height: 500px;
}

.colMob {
  height: 300px;
}

.colEsp {
  height: 200px;
}

.titulo, .titulo-oscuro, .titulo-claro {
  width: 300px;
  color: #c9d1c8;
  font-size: 70px;
  font-family: "Battambang";
  margin: 10px;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .titulo, .titulo-oscuro, .titulo-claro {
    font-size: 50px;
  }
}

.titulo-oscuro {
  color: #04202c;
}

.p1, .p1-cont, .p1-claro, .p1-chico, .p1-resaltado {
  margin: 40px;
  padding: 20px;
  font-size: 25px;
  color: #04202c;
  font-family: "Balthazar";
}
@media screen and (max-width: 768px) {
  .p1, .p1-cont, .p1-claro, .p1-chico, .p1-resaltado {
    font-size: 20px;
    margin: 20px;
    padding: 10px;
  }
}

.p1-resaltado {
  margin-top: 200px;
  background-color: #5b7065;
  font-family: "SpaceGrotesk";
}
@media screen and (max-width: 768px) {
  .p1-resaltado {
    font-size: 20px;
  }
}

.p1-chico {
  color: #c9d1c8;
  font-size: 20px;
  margin: 10px 20px;
  padding: 5px;
  font-family: "Battambang";
}
@media screen and (max-width: 768px) {
  .p1-chico {
    font-size: 15px;
  }
}

.p1-claro {
  color: #c9d1c8;
  font-size: 20px;
}

.p1-cont {
  font-size: 15px;
  margin: 2px;
  padding: 2px;
  color: #04202c;
}

.contacto {
  color: #04202c;
  font-size: 20px;
}

h3, h4 {
  transition: background-color 3s, color 3s, padding 1s;
}
h3:hover, h4:hover {
  background-color: #c9d1c8;
  color: #04202c;
  padding: 10px;
}

.pHover {
  transition: background-color 1s, color 3s, margin 2s;
}
.pHover:hover {
  background-color: #5b7065;
  color: #04202c;
  margin: 15px;
}

@font-face {
  font-family: "Battambang";
  src: url("../fonts/Battambang-Bold.ttf");
  font-family: "Balthazar";
  src: url("../fonts/Balthazar-Regular.ttf");
  font-family: "CormorantUnicase";
  src: url("../fonts/CormorantUnicase-Medium.ttf");
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
.pFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgWidth {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .imgWidth {
    height: 300px;
  }
}

@media screen and (max-width: 1024px) {
  .imgPerfil {
    height: auto;
  }
}

.imgCont {
  position: relative;
}

.port {
  height: 500px;
}
@media screen and (max-width: 768px) {
  .port {
    height: 200px;
  }
}

.logo {
  display: flex;
  justify-content: center;
}

.rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 {
  margin: 40px 20px;
  font-size: 40px;
  font-family: "CormorantUnicase";
  color: #c9d1c8;
}
@media screen and (max-width: 768px) {
  h2 {
    margin: 20px;
    font-size: 30px;
  }
}

h3 {
  color: red;
  margin: 10px;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  h3 {
    color: aliceblue;
  }
}

h4 {
  color: #c9d1c8;
  margin: 20px;
  padding: 2px;
}
@media screen and (max-width: 768px) {
  h4 {
    margin: 10px 15px;
  }
}

.row {
  --bs-gutter-x:0;
}

.gutter {
  --bs-gutter-x:0;
}

header {
  background-color: #c9d1c8;
}
@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

li {
  font-size: 25px;
}

a {
  font-size: 30px;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  a {
    font-size: 25px;
    color: red;
  }
}

footer {
  background-color: #c9d1c8;
  display: flex;
  border: solid black;
  border-radius: 5px;
}
footer .cont {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  footer div {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: center;
  }
}

form {
  background-color: #04202c;
  border: 2px solid #ccc;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
form label {
  display: block;
  color: #c9d1c8;
  font-weight: bold;
  margin-bottom: 5px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type=text], input[type=email], textarea {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: #3e8e41;
}

/*# sourceMappingURL=style.css.map */
