@media (max-width: 768px) {
    footer, header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .port{
        height: 400px;
        color:$color2;     
    }
}

