


//FUENTES

@font-face {
    font-family: "Battambang";
    src: url("../fonts/Battambang-Bold.ttf");
    font-family: "Balthazar";
    src: url("../fonts/Balthazar-Regular.ttf");
    font-family: "CormorantUnicase";
    src: url("../fonts/CormorantUnicase-Medium.ttf");
    font-family: "SpaceGrotesk";
    src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
.pFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//IMÁGENES

.imgWidth{
    width: 100%;
}
.imgCont{
    position: relative;
}
.port{height: 700px;}      
.logo{
    display: flex;
    justify-content: center;
}
.rrss{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
//Textos
h1{
    font-size: 200px;
}
h2{
    margin: 40px 20px;
    font-size: 40px;
    font-family: "CormorantUnicase";
    color: $color2;
}
h3, h4{
    color: $color2;
    margin: 2px;
    padding: 2px;
}




