//FUENTES

@font-face {
    font-family: "Battambang";
    src: url("../fonts/Battambang-Bold.ttf");
    font-family: "Balthazar";
    src: url("../fonts/Balthazar-Regular.ttf");
    font-family: "CormorantUnicase";
    src: url("../fonts/CormorantUnicase-Medium.ttf");
    font-family: "SpaceGrotesk";
    src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
.pFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

//IMÁGENES

.imgWidth{
    width: 100%;

    @include mobile {
        height: 300px;
    }
}
.imgPerfil {
    @include desktop {
        height: auto;
    }
}
.imgCont{
    position: relative;
}
.port{

    height: 500px;

    @include mobile {
        height: 200px;
        
    }
}      
.logo{
    display: flex;
    justify-content: center;
}
.rrss{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
//Textos

h2{
    margin: 40px 20px;
    font-size: 40px;
    font-family: "CormorantUnicase";
    color: $color2;
}
h3, h4{
    color: $color2;
    margin: 20px;
    padding: 2px;

    @include mobile {
        margin: 10px 15px;
    }
}




