//TEXTOS
.titulo{
    width: 300px;
    color: $color2;
    font-size: 70px;
    font-family: Battambang;
    margin: 10px;
    padding: 5px;

    @include mobile {
        font-size: 50px;
    }
}
@each $titulo in claro, oscuro {
    .titulo-#{$titulo}{
        @extend .titulo;
    }
}
.titulo-oscuro{
    @extend .titulo;
    color: $color3;
}


.p1{
    margin: 40px;
    padding: 20px;
    font-size: 25px;
    color:$color3;
    font-family: "Balthazar";

    @include mobile {
        font-size: 20px;
    }

}
@each $parrafo in resaltado, chico, claro, cont {
    .p1-#{$parrafo}{
        @extend .p1;
    }
}
.p1-resaltado{
    margin-top: 200px;
    background-color: $color1;
    font-family: "SpaceGrotesk";

    @include mobile {
        font-size: 20px
    }
}
.p1-chico{
    @extend .p1;
    color: $color2;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    font-family: "Battambang";
}
.p1-claro{
    @extend .p1;
    color: $color2;
}
.p1-cont{
    @extend .p1;
    font-size: 15px;
    margin: 2px; 
    padding: 2px;
    color:$color3;
}
.contacto{
    color: $color3;
    font-size: 20px;
}
