.row{
    --bs-gutter-x:0;
}
.gutter{
    --bs-gutter-x:0;
}
header{
    background-color: $color2;
}
li{
    font-size: 25px;
}
footer{
    display: flex;
    background-color: $color1;
    border: solid black;
    border-radius: 5px;
    .cont{
        font-size: 15px;
    }
}
  
