@mixin desktop {
    @media screen and (max-width:1024px){
        @content;
    }
}
@mixin mobile {
    @media screen and (max-width:768px){
        @content;
    }
}

.colRev{
    @include mobile {
        display: flex;
        flex-direction: column-reverse;
    }
}
.colH{
    @include mobile {
        height: 200px;
    }
}
